<li id="wysihat_file_<%= wysihat_file.id %>" class="<%= params[:type] %>">
  <div id="asset">
    <%= link_to_function((image_tag wysihat_file.file.url(:thumb)), "$$('iframe##{params[:editor]}')[0].insertImage(this.href); facebox.close();", :href => wysihat_file.file.url) %>
  </div>
  <% if params[:type] && params[:type] == "image" %>
    <%= render :partial => '/wysihat_files/clipboard', :locals => { :file => "#{wysihat_file.id}", :url => "http://#{SITE_URL}#{wysihat_file.file.url}" }  %>
  <% end %>
  <div id="delete">
    <%= link_to_remote t('wysihat_files.destroy.name'), :url => wysihat_file, :method => :delete, :confirm => t('wysihat_files.destroy.sure') %>
  </div>
</li>